@{
    ViewData["Title"] = "Code";
}

    <div class="container">
        <div class="page-header">
            <h2>Code Explained</h2>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false">
                    +Introduction to ASP.NET identity
                </a>
            </h4>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false">
                    +Adding authentication
                </a>
            </h4>
            <div class="collapse" id="collapse2">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false">
                    +ASP.NET core identity - Roles
                </a>
            </h4>
            <div class="collapse" id="collapse3">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false">
                    +ASP.NET core identity - Admin
                </a>
            </h4>
            <div class="collapse" id="collapse4">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false">
                    +User administration - Part 1
                </a>
            </h4>
            <div class="collapse" id="collapse5">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false">
                    +User administration - Part 2
                </a>
            </h4>
            <div class="collapse" id="collapse6">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false">
                    +User administration - Part 1
                </a>
            </h4>
            <div class="collapse" id="collapse7">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false">
                    +Role administration - Part 1
                </a>
            </h4>
            <div class="collapse" id="collapse8">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>

        <div>
            <h4>
                <a data-toggle="collapse" href="#collapse9" role="button" aria-expanded="false">
                    +Avatar Images
                </a>
            </h4>
            <div class="collapse" id="collapse9">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>
