@{
    ViewData["Title"] = "Home";
}
<div class="container-fluid home-info-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7 pt-3">
                <h2 class="home-header">LEARN AUTHORIZATION &AMP; AUTHENTICATION FROM USING IDENTITY</h2>
                <p>fin quxae ilo svadg joqu ybruzb eim puxae hko suzcf inqu xaeilo svadg inqu ybeilo twadg joru zbeimp uwmpu xaei kosv adfinq uybei lotw aotimp uxaeh</p>
                <p>uzbei zcfv adfinq uybri lotw adtwae hkoeh kosv losvad gjn qujor uzbei mpui mpfi nqgj aeux apuxaq ujbrh joeh koei lbei lotimc fim puinq gjndg jaeh xatw aehjor uzcfi mpux aquxae ilb euy beizpf vacf inqu yoeuyb eil otwm puinei mpui mpfi nqgj aeux apuxaq ujbrh joeh koei lbei lotimc fim puinq </p>
            </div>
            <div class="col-md-5">
                <img class="d-block mx-auto" src="https://www.okta.com/sites/default/files/styles/1640w_scaled/public/media/image/2020-10/Authentication_vs_Authorization.png?itok=uBFRCfww" height="300" />
            </div>
        </div>
    </div>
</div>

@*//TagHelper*@
